:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --base-space: 8px;
  --font-size: 20px;
  --side-buttons: 60px;
  --border-radius: 2px;

  /*animation*/
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}

.btns:hover,
.logo:hover {
  transform: scale(1.1);
}

.buttons .btns {
  background-color: transparent;
  margin-right: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons .imgBtns {
  width: var(--side-buttons);
  height: var(--side-buttons);
}

.buttons .color {
  font-size: var(--font-size);
  border-radius: var(--border-radius);
  padding: var(--base-space);
}

.buttons .blue {
  background-color: var(--color-blue);
}

.buttons .yellow {
  background-color: var(--color-yellow);
}

.buttons .pink {
  background-color: var(--color-pink);
}

/* item */
.items {
  list-style: none;
  padding-left: 0;
  width: 40%;
  height: 60%;
  overflow-y: scroll;
}

.items .item {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  margin-bottom: var(--base-space);
}

.items .item .item-image {
  width: var(--side-buttons);
  height: var(--side-buttons);
  padding: calc(var(--base-space) * 1.5);
}
